.Main_Crt_Fld {
  position: absolute;
  width: 100%;
  height: 43rem;
  z-index: 3;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #525252;
  align-items: center;
}

.Main_Last {
  width: 16rem;
  height: 22rem;
  background-color: #e5fff1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 0.4rem;
}

.Main_Bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;

  filter: blur(8px);
  -webkit-filter: blur(2.8px);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(6px);

  display: flex;
  align-items: center;
  justify-content: center;
}

.FileName {
  width: 90%;
  height: 16%;
  background-color: #abdbdc;
}

.FileName input {
  padding: 0 0.3rem;
  width: 100%;
  height: 100%;
  border: none;
}

.Image {
  width: 90%;
  height: 55%;
  background-color: #abdbdc;


  background-image: url("../Assets/file.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 5rem;
}

.Image input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.Footer {
  width: 90%;
  height: 18%;
  /* background-color: #abdbdc; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Footer div{
  border-radius: 0.3rem;
  background-repeat: no-repeat;
  background-position: center;
}

.Footer div:hover{
  transform: scale(1.1);
  transition: 500ms ease-in-out;
}


.CancleBt {
  background-color: #ff9999;
  width: 5rem;
  height: 3rem;
  background-image: url('../Assets/contract.png');
  background-size: 2.5rem;
}

.OkBt {
  background-color: #93e482;;
  width: 5rem;
  height: 3rem;
  background-image: url('../Assets/submit.png');
  background-size: 2.5rem;
}
